---
import {supabase} from '@/lib/supabase'
const {data: products, error} = await supabase
.from('products')
.select('*')


import { Plus } from '@lucide/astro';
---


{products!.map((product) =>(

    <div class="bg-white rounded-2xl shadow-sm border border-stone-100 overflow-hidden hover:shadow-xl transition-all flex flex-col h-full transform hover:-translate-y-1">
    
      <!-- Imagen -->
      <div class="h-56 overflow-hidden relative">
      
        <img
        src={product.image}
        alt={product.descripton}
        class="w-full h-full object-cover transition duration-500 group-hover:scale-110"
        >
      

        <!-- Categoría -->
        <div class="absolute top-3 left-3 bg-white/90 backdrop-blur px-3 py-1 rounded-full font-bold text-xs text-[#f29829] shadow-sm ring-1 ring-orange-100 italic uppercase">
          {product.category}
        </div>
      </div>

      <!-- Contenido -->
      <div class="p-6 flex flex-col grow">
        <div class="flex justify-between items-start mb-2">
          <h3 class="text-xl font-bold text-stone-800">
            {product.name}
          </h3>
          <span class="text-lg font-black text-[#f29829]">
            ${product.price}
          </span>
        </div>

        <p class="text-stone-500 text-sm mb-6 grow leading-relaxed">
          {product.descripton}
        </p>

        <button 
          class="open-modal w-full hover:cursor-pointer bg-stone-900 hover:bg-[#f29829] text-white font-bold py-3 rounded-xl flex items-center justify-center gap-2 transition-all active:scale-95 group"
          data-add data-id={product.id}
          data-name={product.name}
          
          >
          <i><Plus class="w-4 h-4 group-hover:rotate-90 transition-transform"/></i>
          Agregar
        </button>
      </div>
    </div>
                
))}

